[submodule "wp-content/plugins/plugin"]
	path = wp-content/plugins/plugin
	url = https://github.com/nickdavis/plugin
[submodule "wp-content/themes/theme"]
	path = wp-content/themes/theme
	url = https://github.com/nickdavis/theme
